[user]
  name = vakrilov
  email = alexander.vakrilov@gmail.com

[push]
  default = current
	autoSetupRemote = true

[color]
  diff = auto
  status = auto
  branch = auto
[format]
  pretty = %Cblue%h%Creset %Cgreen[%cr]%Creset (%an) %s

[alias]
  c = commit -m
  ch = cherry-pick
  co = checkout
  a = add
  d = diff
  dic = diff --cached
  ps = push
  s = status
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cblue%an%Creset' --abbrev-commit --date=relative --all 
  lb = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cblue%an%Creset' --abbrev-commit --date=relative 
  bdiff = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %Cblue%an%Creset' --abbrev-commit --date=relative --left-right --cherry-pick
  ca = commit --amend
  sub = submodule update --init
  cl = clean -xfd

  # Other
  unstage = reset HEAD
  staged = diff --cached

[branch]
  autosetuprebase = always
  
